.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: modalBackground 0.3s;
}

.modal-content-container {
  padding: 16px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  animation: modalPopUp 0.3s;
}

.modal-close-button {
  align-self: flex-end;
  cursor: pointer;
}

.modal-inner-content {
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes modalBackground {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@keyframes modalPopUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
