.homepage-questions {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.homepage-search-input {
  background-color: transparent;
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 16px;
  width: 100%;
  max-width: 400px;
  align-self: flex-end;
  font-size: 20px;
  box-sizing: border-box;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
