.queue-grid-box {
  width: 100%;
  max-width: 64px;
  aspect-ratio: 1/1;
  border: 1px solid;
  box-sizing: border-box;
}

.queue-grid-box-selected {
  background-color: lightblue;
}

.queue-boxes-container {
  display: grid;
  gap: 12px;
  width: 100%;
}

.queue-grid-page-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.queue-grid-label {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  gap: 24px;
  align-items: center;
}

.queue-grid-label > input {
  font-size: 18px;
  padding: 2px 8px;
  border-radius: 16px;
  width: 48px;
}
