.password-generator-container {
  border: 1px solid;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.password-generator-password {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 700;
  flex-wrap: wrap;
  gap: 8px;
}

.password-generator-config-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.password-generator-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  cursor: pointer;
}

.password-generator-copy-button {
  border: 1px solid;
  border-radius: 16px;
  padding: 8px 16px;
  background-color: lightgreen;
  box-shadow: 1px 1px 4px black;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
}

.password-generator-copy-button:disabled {
  background-color: rgb(228, 255, 228);
  box-shadow: none;
}

.password-generator-generate-button {
  border: 1px solid;
  border-radius: 16px;
  padding: 16px;
  background-color: lightcoral;
  box-shadow: 1px 1px 4px black;
  cursor: pointer;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.password-generator-length-input {
  width: 100%;
  max-width: 800px;
  cursor: auto;
}

@media (max-width: 600px) {
  .password-generator-config-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
