.selectable-grid {
  display: grid;
  width: 100%;
}

.selectable-grid-item {
  border: 1px solid;
  aspect-ratio: 1/1;
  max-width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.selectable-grid-item-selected {
  background-color: lightblue;
}
