.accordion-page-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.accordion {
  border: 1px solid;
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.accordion-title {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-content {
  font-size: 20px;
}

.accordion-multiple-input {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid;
  padding: 12px 24px;
  margin-bottom: 24px;
  align-items: center;
  gap: 12px;
  width: fit-content;
  cursor: pointer;
}
